@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300&display=swap');

body{
    font-family: "poppins",sans-serif;
}
.carousel-lg-item {
    height: 100vh;
    min-height: 600px;  
}

.carousel-caption{
    bottom: 5rem;
}

.carousel-caption h1{
    font-weight: 600;
    font-size:3.5rem;
    padding-bottom: .5rem;
}

.carousel-caption p{
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 1rem;

}
.btn1{
    padding-bottom: 5rem;
}
.btn1 a{
    color: #3F87F5;
    background-color: white;
    padding: 10px 40px;
    border-radius: 1rem;
    text-decoration: none;
}

.w-100{
    height: 100vh;
}

.btn2{
    text-decoration: none;
    color: white;
    background-color:#3F87F5;
    padding: 10px 40px;
}

.padding-tops{
    padding-top: 8rem;
}

.card-box{
    align-items: center;
    
}

.card-box a{
    text-decoration: none;
    color:#3F87F5;
}

.box-design{
    background-color: #3F87F5;
    border-radius: 2rem;
    color: white;

}

.box-design a{
    color: #3F87F5;
    background-color: white;
    border-radius: 2rem;
    padding: 10px 40px;

}

.testimonial{
    align-items: center;
    text-align: center;
}

.testimonial img{
    width: 100px;
height: 100px;
}

.round-box{
    border-radius: 2rem;
}

/* ....................... */

.news {
    background-color: black;
    color: white;
  }
.btn3 a{
    text-decoration: none;
    color: white;
    background-color: #3F87F5;
    border-radius: 2rem;
    padding: 10px 40px;
}
  
  
  
  .news input {
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: black;
    margin-top: 20px;
  }
  
  .news::placeholder{
    color: white;
  }
  
  .news p{
    margin: 0;
  }


  

